@import url('https://fonts.googleapis.com/css2?family=Montserrat|Ubuntu');

*{
  font-family: "Montserrat",sans-serif;
}

body{
  background-color: white;
}

p{
  color: #8f8f8f;
}

h2{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-weight: 900;
  font-size: 1.5rem;
}

#title{
  background-color: #ff4c68;
  color: white;
}

#heading{
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*Download Buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}

/*TItle image*/
.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%
}

@media (max-width: 1128px){
  #title{
    text-align: center;
  }
  .title-image{
    width: 300px;
    position: static;
    transform: rotate(0);
  }
}
@media (max-width: 600px) {
  #heading{
    font-size: 2.4rem;
  }
  .title-image{
    width: 150px;
  }
}

/*Feature Section*/
#features{
  padding: 7% 15%;
  position: relative;
  background-color: white;
  z-index: 1;
}

.feature-container{
  padding: 5%;
}

.feature-img{
  color: #ef8172;
}

.feature-img:hover{
  color: #ff4c68;
}

.feature-header{
  font-weight: 900;
  font-size: 1.5rem;
}

.feature-text{
  color: #8f8f8f;
}

/*Testimonials Section*/
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img{
  width: 20%;
  margin: 20px 20px 50px
}

@media (max-width:600px) {
  .testimonial-text{
    font-size: 1.5rem;
  }
  .testimonial-image{
    width: 50%;
  }
  .press-img{
    width: 50%;
  }
}

/*Pricing Section*/
#pricing{
  padding: 100px;
}

.top-space{
  margin-top: 3%;
}

@media (max-width: 600px) {
  #pricing > h2{
    font-size: 2rem;
  }
  .card-header > h3{
    font-size: 1.9rem;
  }
  .card-body > h2{
    font-size: 1.7rem;
  }
}

/*Footer and CTA*/
#cta{
  background-color: #ff4c68;
  text-align: center;
  justify-content: center;
  padding: 100px;
}

.cta-header{
  color: white;
  font-size: 3rem;
}

@media (max-width: 720px){
  .cta-header{
    font-size: 2.5rem;
  }
}
@media (max-width: 600px){
  .cta-header{
    font-size: 2rem;
  }
}


#footer{
  text-align: center;
  background-color: white;
  padding: 100px;
}

.footer-images{
  margin-bottom: 15px;
}
.footer-images>i{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.4rem;
}

#footer>p{
  font-size: 1.4rem;
}
